.header{
    position:relative;
}

.box{
    position:fixed;
    bottom:0;right:0;
    width:50px;
    height:50px;

}
.box1{
    background-image: url('https://p2.bahamut.com.tw/HOME/creationCover/52/0003716452_B.PNG') ;
    background-size:100%;
    z-index:8;
}
.box2{
    background-color:PINK;
    z-index:6;
