html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    width:1920px;
}
.wrap{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}
header h1{
    font-size: 80px;
    border-bottom:2px solid;
    margin-top:40px;
    padding-bottom:20px;
  }
  header img{
    margin-top:72px;
    width:324px;
    height:324px;
    padding-bottom:20px;
  }
  content h2{
    font-size:32px;
    border-bottom:1px solid;
    padding-top:10px;
    padding-bottom:10px;
  }
  content h2 .highlight{
    font-size:24px;
    color:#A00404;
    font-family: normal 
  }
  content ul{
    padding-top:10px;
  }
  content ul li{
    font-size:24px;
    padding-bottom:10px;
  }
  content .up{
    padding-bottom:10px;
  }
  
  content .down{
    padding-top:10px;
    padding-bottom:60px;
  }
  content .ed1{
    padding-bottom:30px;
  }
  content .ed2{
    padding-bottom:30px;
  }
  
  .sk{
    background:#415165;
    color:white;
    text-align:center;
  }
  .sk1{
    display:flex;
    justify-content:center;
    text-align:left;
    padding:20px;
  }
  .sk1 ul li{
      border-left:1px solid white;
      padding-left:10px;
  }
  
  content h3{
    margin-bottom:20px;
  }
  content .work{
    border-right:2px solid black;
    padding-right:10px;
  }
  
  content .exp li{
    border-left:1px solid gray;
    padding-left:15px;
    margin-left:15px;
  } 
  content ul li p{
      width:642px;
    font-size:20px;
    margin-top:10px;
    margin-bottom:20px;
  }
  
  
  footer{
    color:white;
    background:#415165;
    text-align:center;
    padding-left: 360px;
    padding-right: 360px;
  }
  footer h2{
    font-size:32px;
    border-bottom:1px solid;
    padding-top:10px;
    padding-bottom:10px;
  }
  footer li{
    font-size:24px;
    padding:10px;
  }